@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #6b46c1 transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #6b46c1;
  border-radius: 20px;
  border: 2px solid transparent;
}

.dark .custom-scrollbar {
  scrollbar-color: #9f7aea transparent;
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #9f7aea;
}
